amqp==5.3.1
anyio==4.12.1
asgiref==3.11.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
billiard==4.2.4
boto3==1.42.46
botocore==1.42.46
cbor2==5.8.0
celery==5.4.0
certifi==2026.1.4
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cryptography==46.0.5
daphne==4.2.1
Django==5.1.15
django-cors-headers==4.9.0
django-filter==24.3
django-storages==1.14.6
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.27.2
gunicorn==22.0.0
h11==0.16.0
httptools==0.7.1
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
inflection==0.5.1
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
msgpack==1.1.2
packaging==26.0
pillow==10.4.0
prompt_toolkit==3.0.52
psycopg==3.3.2
psycopg-binary==3.3.2
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.11.0
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==6.0.3
redis==5.3.1
referencing==0.37.0
rpds-py==0.30.0
s3transfer==0.16.0
sentry-sdk==2.52.0
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.5
-e git+https://github.com/spartak030506-hash/test.git@cb273e4325ca033494cdfedfcdf1fddef7bffdd6#egg=taskflow
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.11.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.40.0
uvloop==0.22.1
vine==5.1.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
zope.interface==8.2
